

.resumen{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    gap: 1rem;
    padding: 1rem;
    margin-top: 4rem;
}

.resumen-titulo{
    font-size: 10vw;
}


.no-seleccionados{
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.no-seleccionados-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50%;
}


.resumen-total,.resumen-finalizar{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.resumen-total{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.total,.total-texto{
    text-align: end;
}

.resumen-finalizar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-nombre{
    font-family: normal;
    color: var(--primary);
    background: none;
    border: none;
    border-bottom: var(--border);
    width: 65%;
}

.input-nombre:focus{
    outline: none;
}


.footer-resumen{
    position: fixed;
background-color: var(--background);    
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

}