.vioska-portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-img);
    opacity: 0.9;
    filter: brightness(0.7);
    padding: 0.2rem;
}


.vioska-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 90%;
    padding: 1rem;

}

.vioska-titulo {
    color: var(--background);
    font-size: 13vw;
    text-align: center;

}


/* instrucciones */


.vioska-instrucciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 1rem;
    padding: 1rem;
    border-bottom: var(--border);
}

.artesania{
    display: flex;
    gap: 0.5rem;
    width: 90%;
}

.instrucciones-texto{
    text-align: center;
    
}

.instrucciones-ul{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    margin-top: 1rem;
}

.instrucciones-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.4rem;
}

.instrucciones-p{
    text-align: center;
}


.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}



/* galería */

.vioska-galeria {
    width: 100%;
    min-height: 100dvh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

}

.galeria-header-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background);
  
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Asegura que .vioska-galeria permite scroll */



.galeria-titulo {
    margin-top: 3rem;
}


.seleccion-multiple-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
}

.seleccion-titulo{
    width: 70%;
}

.cantidad-productos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.vioska-seleccionar{
    cursor: pointer;
}

.filtros{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    position: relative;
    display: inline-block;
     
}

.filtros-texto{
    width: fit-content;
    cursor: pointer;
}


   
  
  .filtro-ul {
    position: absolute;
    width: 45%;
    border-radius: 20px;
    top: 100%;
    left: 0;
    background: var(--background);
    padding: 0.5rem;
    border: var(--border);
    list-style: none;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(126, 110, 110, 0.1);
  }
  
  .filtro-li {
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .filtro-li:hover {
    background: #f0f0f0;
  }
  






.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 6rem;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}


.productos::-webkit-scrollbar{
    background-color: var(--primary);
    width: 0.5px;
}

.pedido-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--background);
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 999;
}