

.imagen-provisional{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}



.img-prov{

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-img);
  filter: brightness(0.7);
  opacity: 0.9;
  padding: 0.3rem;


}



.texto-provisional{
  font-size: 18vw;
  width: 100%;
  padding: 1rem;
  color: var(--background);
  text-align: center;

  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.akaal-titulo{
  font-size: 10vw;
}



.akaal-horarios{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 100dvh;
  margin-top: 0;
  padding: 1rem;
}





.calendario{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


.dia{
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: none;
  color: var(--primary);

}


.seleccionado{
  background-color: var(--primary);
  color: var(--background);
}


.sin-clases{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.lista-clases{
}

.akaal-button{

  margin-top: 2rem;
  display: flex;
  justify-content:center;
}



.galeria-titulo{
  font-size: 10vw;
  margin-bottom: 1rem;
}


.akaal-galeria{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}