

.imagen-provisional{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}



.img-prov{

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-img);
  filter: brightness(0.7);
  opacity: 0.9;
  padding: 0.3rem;


}



.texto-provisional{
  font-size: 18vw;
  width: 100%;
  padding: 1rem;
  color: var(--background);
  text-align: center;

  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.akaal-titulo{
  font-size: 10vw;
}



.akaal-horarios{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 100dvh;
  margin-top: 0;
  padding: 1rem;
}





.calendario{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


.dia{
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: none;
  color: var(--primary);

}


.seleccionado{
  background-color: var(--primary);
  color: var(--background);
}


.sin-clases{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.akaal-button{
  margin-top: 2rem;
  display: flex;
  justify-content:center;
}

.calendario-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.galeria-titulo{
  font-size: 10vw;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}


.akaal-galeria{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  padding: 2rem 1rem;
}

/* Estilos desktop */
@media (min-width: 768px) {
  .texto-provisional {
    font-size: 4rem;
  }

  .akaal-titulo {
    font-size: 3.5rem;
  }

  .galeria-titulo {
    font-size: 2.5rem;
    max-width: 800px;
    text-align: center;
  }

  .akaal-subtitulo {
    font-size: 1rem;
  }

  .akaal-horarios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }

  .akaal-titulo-subtitulo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
  }

  .calendario-container {
    width: 50%;
  }

  .akaal-galeria {
    padding: 4rem 2rem;
  }

  /* Contenedor de la galería con ancho limitado */
  .akaal-galeria .list {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
  
}

@media (min-width: 1024px) {
  .texto-provisional {
    font-size: 3.5rem;
  }

  .akaal-titulo {
    font-size: 4rem;
    width: 100%;
  }

  .galeria-titulo {
    font-size: 4rem;
    max-width: 1000px;
    text-align: center;
  }

  .akaal-horarios {
    gap: 4rem;
    padding: 3rem;
  }

  .akaal-titulo-subtitulo {
    width: 45%;
  }

  .akaal-galeria {
    padding: 6rem 2rem;
  }

  /* Contenedor de la galería más centrado en pantallas grandes */
  .akaal-galeria .list {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
}