


.retiros-portada{
    width: 100%;
    height: 100dvh;
    position: relative;
}


.retiros-portada-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    filter: brightness(0.8) contrast(1.2);
}


.retiros-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.info, .retiros-titulo{
    color: var(--background);
}
