


.retiros-portada{
    width: 100%;
    height: 100dvh;
    position: relative;
}

.retiros-portada-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: brightness(0.6) contrast(1);
    border-radius: var(--radius-img);
    padding: 0.3rem;
}

.retiros-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.retiros-titulo{
    font-size: 10vw;
}

.info, .retiros-titulo{
    color: var(--background);
}

/* seccion dos  */
.retiro-incluye{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

.img-incluye{
    width: 40px;
}

.retiro-p{
    font-size: 1rem;
}

.retiro-li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.retiro-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0.5rem;
}
.retiro-texto{
text-align: center;
margin-top: 0.5rem;}
.capa{
    width: 20px;
}

.retiro-eleme{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.retiro-ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.line-incluido{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.line{
    width: 40px;
    height: 1px;
    background-color: var(--primary);
}




.inmersion-info-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    border-top: var(--border);
}


.inmersion-texto{
    font-size: 0.7rem;
}


.buttons-container{
    display: flex;
flex-direction: column;
gap: 1rem;
width: 70%;
margin-top: 2rem;
}





.overlay-dossier{
    position: absolute;
   inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}


.dossier{
    max-width: 90%;
    height: 90dvh;
}


.boton-cerrar{
    position: absolute;
    top: 5rem;
    right: 1.9rem;
  padding: 1rem;
    cursor: pointer;
    color: var(--background);
    background-color: var(--primary);
    border-radius: 30px;
}