
.viajes-gallery{
    width: 100%;
}


.gallery{
    width: 100%;
}
.viaje-container{

    width: 100%;
 
  
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}



.viaje-portada{
    width: 100%;
    height: 150px;
    border-radius: 8px;

 

}







.viaje-portada-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.viaje-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.viaje-icon-image{
    display: flex;
    gap: 0.5rem;
    align-items: center;

}


/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
  }
  
  .overlay-slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    width: 100%;
  }
  
  .overlay-img {
    min-width: 100vw;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
  }
  
  .btn-prev,
  .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .btn-prev { left: 10px; }
  .btn-next { right: 10px; }



.gallery-btn{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}



  
  .gallery-prev,
  .gallery-next {
    background: none;
    border: none;
    color: var(--primary);
   
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .gallery-prev:disabled,
  .gallery-next:disabled {
    opacity: 0;
    cursor: not-allowed;
  }
  
  
  
  @media (min-width: 768px) {
    .overlay-img {
      max-width: 90vw;
      max-height: 90vh;
    }
  }
  
  