



.contacto-section{
    margin-top: 5rem;
}



.contacto-titulo{
    font-size: 10vw;

   
    line-height: 1.1;
    text-align: center;
}

.titulo-conecta-container{padding: 0.7rem;
}

.capa-about{
    width: 20px;
}
.contacto-imagen-texto{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
   
   
}

.contacto-texto-img{
    width: 200px;
    margin-bottom: 0.7rem;
   
}



.contacto-imagen{
    width: 100%;
    height: 50vh;
    
}


.contacto-img{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-img);
    padding: 0.3rem;
    object-fit: cover;
    object-position: right center;
}


.contacto{

    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
   margin-bottom: 1rem;
   
}
.contacto-item{
    display: flex;
    align-items: center;
    gap: 1rem;
   
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 8px;
}

.contacto-item:hover{
    transform: translateX(5px);
}