



.contacto-section{
    margin-top: 5rem;
}



.contacto-titulo{
    font-size: 14vw;
    margin-bottom: 1rem;
    padding: 0rem 1rem;
    line-height: 0.9;
}

.contacto-parrafo{
    padding: 0 1rem;
    line-height: 0.5;
    margin-bottom: 1.5rem;
}


.contacto-imagen{
    width: 100%;
    height: 40vh;
    
}


.contacto-img{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-img);
    padding: 0.3rem;
    object-fit: cover;
   
}


.contacto{
    padding: 1rem;
}
.contacto-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}