.contacto {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}



.contacto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

}


.contacto-titulo,
.contacto-subtitulo {
    text-align: center;
}



.contacto-instagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 0.1px solid var(--primary);
    border-radius: var(--radius-img);


}


.icono-insta {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;

}

.cuenta-subtitulo{
    font-size: 0.9rem;
}

.instagram-img {
    width: 13%;
}



.contacto-ubicacion{
    width: 100%;
    
  
}

.contacto-imagen{
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 25vh;
}

.akaal-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: var(--radius-img);
}




.ubicacion-titulo{
   
  
}


.contacto-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}