



.contacto-section{
    margin-top: 5rem;
}



.contacto-titulo{
    font-size: 14vw;
    margin-bottom: 1rem;
    padding: 0rem 1rem;
    line-height: 0.9;
}

.contacto-imagen-texto{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
}

.contacto-texto-img{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.contacto-parrafo{
    padding: 0 1rem;
    line-height: 0.5;
    margin-bottom: 1.5rem;
}


.contacto-imagen{
    width: 100%;
    height: 60vh;
    
}


.contacto-img{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-img);
    padding: 0.3rem;
    object-fit: cover;
    object-position: right center;
}


.contacto{
    padding: 1rem;
    margin-top: -2rem;
    background: linear-gradient(to bottom, transparent, var(--background));
    padding-top: 3rem;
}
.contacto-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.contacto-item:hover{
    transform: translateX(5px);
}