.inicio-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.3rem;
    border-radius: var(--radius-img) ;
   
    filter: brightness(0.7);
}


.section-inicio{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.titulo-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.titulo-linea-izquierda{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary);
    text-align: left;
    width: 100%;
    line-height: 0.9;
}

.titulo-linea-derecha{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--primary);
    text-align: left;
    width: 100%;
}

.cards-galeria{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
}


.section-final{
    width: 100%;
    padding: 1rem;
}


.section-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.titulo-final{
    font-size: 3rem;
}




@media (min-width:600px) {

    .cards-galeria{
        display: flex;
        flex-direction: row;
        gap: 0rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .titulo-linea-izquierda{
        font-size: 3rem;
    }

    .titulo-linea-derecha{
        font-size: 6rem;
    }

    .titulo-final{
        font-size: 3rem;
    }

    .section-content{
        display: flex;
        justify-content: space-around;
    }
    

   
}