
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: normal, poppins;
    letter-spacing: 1.5px;
}

/* Prevenir scroll horizontal en todos los elementos */
img, video, svg {
    max-width: 100%;
    height: auto;
}



:root{

    font-size: clamp(0.875rem, 1.2vw, 1.125rem); /* entre 14px y 18px aprox */
    --primary: #61253E;
    --background:#F5EBDE;
    --text: #303030;



    --border-width: 0.3px;
    --border-style: solid;
    --border-color:rgba(97, 37, 62, 0.3);

    --border:var(--border-width) var(--border-style) var(--border-color);

    --radius-img: 20px 8px 8px 20px;

    --radius-img-volted: 8px 20px 20px 8px;
    

}


h1, h2, h3, h4, h5, h6 , body{
    color: var(--primary);
    font-family: semi-bold, poppins;
}


html, body{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

body{

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    color: var(--primary);
    background-color: var(--background);
    scroll-behavior: smooth;
    overflow-x: hidden;

    
}

a{
    color: inherit;
    text-decoration: none;
}



button{


    font-family: normal, poppins;
    cursor: pointer;

}



li{
    list-style: none;
}


strong{
    font-family: semi-bold;
}


section{
    overflow-x: hidden;
}


/* tipografias */

@font-face {
    font-family: superlight;
 
    src: url('./fonts/Yaldevi-ExtraLight.ttf');
}


@font-face {
    font-family: light;
 
    src: url('./fonts/Yaldevi-Light.ttf');
}


@font-face {
    font-family: medium;
 
    src: url('./fonts/Yaldevi-Medium.ttf');
}


@font-face {
    font-family: normal;
    
    src: url('./fonts/Yaldevi-Regular.ttf');
}


@font-face {
    font-family: semi-bold;
    
    src: url('./fonts/Yaldevi-SemiBold.ttf');
}