


.section{
    display: flex;
    width: 100%;
    min-height: 100dvh;
    flex-direction: column;
    padding: 0.5rem;
    overflow-x: hidden;
}




.imagen-container{
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  
   
}



