
.privacidad, .not-found{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    padding:1rem;
    gap: 1rem;
}

.texto-container, .not-found-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.privacidad-texto, .privacidad-titulo, .not-found-texto, .not-found-titulo{
    text-align: center;
}


.privacidad-boton{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}