.slider {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide-imagen {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  border-radius: 4px !important;
}

/* OVERLAY */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    transparent
  );
  color: white;
}

/* FLECHAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--background);
  border-radius: 100px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s ease;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.6
);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.dot {
  height: 5px;
  width: 5px;
  background-color: var(--background);
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dot.active {
  width: 25px;
  background-color: var(--background);
 
}


@media (max-width: 768px) {
  .arrow {
    display: none;
  }

  .slide img {
    height: 350px;
  }
}
